.main_container{
    width: 1300px;
    padding: 20px 110px;
    margin: auto;
    box-sizing: border-box;
}

.side_container{
    display: flex;
    flex-direction: column;
}

.center_container{
    width: 740px;
    max-width: 740px;
    border: 1px solid black;
    display: flex;
}

