.profile_container{
    height: 200px;
    width: 100%;
    background: rgb(49, 49, 60);
}

/* url("https://opgg-valorant-cdn.akamaized.net/Characters/TopBars/Raze.png") right center / contain no-repeat */