.profile_header_container{
    height: 200px;
    width: 100%;
    background: rgb(49, 49, 60);
}

.profile_header{
    width: 1300px;
    padding: 0 110px;
    margin: 0 auto;
    box-sizing: border-box;
}

.profile_container{
    height: 200px;
    display: flex;
    padding: 46px 0 24px;
    box-sizing: border-box;
    background: url("https://opgg-valorant-cdn.akamaized.net/Characters/TopBars/Omen.png") no-repeat center top / contain ;

}

.profile{
    display: flex;
    align-items: center;
}

.profile_image_container{
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.profile_image{
    width: 100px;
    height: 100px;
    /* content: url('https://valorant.op.gg/images/profile.png'); */
}

.profile_info_container{
    padding: 0 24px;
}

.profile_name{
    font-size: 24px;
}

.profile_tag{
    color: gray;
}

.profile_ladder{
    color: gray;
    font-size: 11px;
}

.profile_ladder_rank{
    color: lightblue;
    font-size: 11px;
    margin-left: 4px;
}

.history_update_button{
    height: 40px;
    padding: 0 16px;
    border-radius: 5px;
    color: lightgray;
    background-color: #E84057;
    font-weight: bold;
    margin-top: 16px;
    border: 0px;
    cursor: pointer;
}

.history_update_button:hover{
    background-color: #AC2537;
}

.lastest_update_date{
    color: white;
    font-size: 11px;
}

.main_container{
    width: 1300px;
    padding: 20px 110px;
    margin: auto;
    box-sizing: border-box;
}

.main_defail_container{
    display: flex;
}

.stats_container{
    width: 330px;
    margin-right: auto;
}

.stats_detail_container{
    background-color: #31313c;
    border-radius: 4px;
}

.stats_rating_container{
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
}

.rating{
    font-size: 13px;
}

.act{
    width: 100px
}

.rank_info_container{
    display: flex;
    padding: 16px 16px;
    margin: 2px 0 2px 0;
    border-top: 1px solid #1C1C1F 
}

.rank_image_container{
    width: 75px;
    height: 72px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #282830;
}

.rank_image{
    width: 50px;
    height: 50px;
}

.rank_stats_container{
    display: flex;
    flex-direction: column;
}

.rank{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.kda{
    font-size: 11px;
    color: gray;
    font-weight: bold;
    margin-bottom: 2px;
}

.winlose{
    font-size: 12px;
    color: gray;
}

.record_container{
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px;
    margin: 2px 0 2px 0;
    border-top: 1px solid #1C1C1F;
}

.record_dpr_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%
}

/* url("https://opgg-valorant-cdn.akamaized.net/Characters/TopBars/Raze.png") right center / contain no-repeat */