.stats_container{
    width: 330px;
}

.stats_detail_container{
    background-color: #31313c;
    border-radius: 4px;
}

.stats_rating_container{
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    height: 29px;

}

.rating{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.act{
    width: 100px
}

.rank_info_container{
    display: flex;
    padding: 16px 16px;
    margin: 2px 0 2px 0;
    border-top: 1px solid #1C1C1F 
}

.rank_image_container{
    width: 75px;
    height: 72px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #282830;
}

.rank_image{
    width: 50px;
    height: 50px;
}

.rank_stats_container{
    display: flex;
    flex-direction: column;
}

.rank{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
}

.kda{
    font-size: 11px;
    color: #7b7a8e;
    font-weight: bold;
    margin-bottom: 2px;
}

.winlose{
    font-size: 11px;
    color: #7b7a8e;
}

.record_container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 16px;
    margin: 2px 0 2px 0;
}

.record_dpr_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
    position: relative;

}

.dpr_label{
    font-size: 11px;
    color: #7b7a8e;
    text-align: center;
}

.dpr{
    text-align: center;
}

.record_description{
    text-align: center;
    border-top: 1px solid #1C1C1F;
    color: #7b7a8e;
    padding-top: 3px;
    font-size: 12px;
}

.record_kd_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
    position: relative;
}

.record_kd_container::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: black;
    position: absolute;
}

.kd_ratio_label{
    font-size: 11px;
    color: #7b7a8e;
    text-align: center
}

.kd{
    text-align: center;
}

.record_win_ratio_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
    position: relative;
}

.record_win_ratio_container::before{
    content: '';
    width: 1px;
    height: 15px;
    background-color: black;
    position: absolute;
}

.win_ratio_label{
    font-size: 11px;
    color: #7b7a8e;
    text-align: center
}

.win_ratio{
    text-align: center;
}

.record_spr_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 33%;
    position: relative;
}

.spr_label{
    font-size: 11px;
    color: #7b7a8e;
    text-align: center
}

.spr{
    text-align: center;
}

.detail_record_container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 16px;
    margin: 2px 0 2px 0;
    border-top: 1px solid #1C1C1F;
    background-color: #282830;
}

.detail_record_kill_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.kill {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.kill_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.death {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.death_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.assists {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.assists_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.headshot {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.headshot_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.bodyshot {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.bodyshot_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.legshot {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.legshot_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.mostkillmatch {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.mostkillmatch_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.playtime {
    display: block;
    font-size: 11px;
    color: #7b7a8e;
}

.playtime_count{
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 1px;
}

.detail_record_death_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.detail_record_assists_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.detail_record_headshot_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.detail_record_bodyshot_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.detail_record_legshot_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.detail_record_mostkillmatch_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}

.detail_record_playtime_container{
    flex-basis: 50%;
    margin-bottom: 8px;
}